[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[{Makefile,Makefile.hbs}]
indent_style = tab
indent_size = 4

[*.{js,jsx}]
indent_style = space
indent_size = 2

[*.{html,sass,scss,css}]
indent_style = space
indent_size = 4
